.red {
    color: #ff0000;
    font-weight: 600;
    text-decoration: underline;
    line-height: -100px;
    font-size: 100px;
}

.box {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.emphasize {
    font-family: "SF Pro kr", "MalgunGothic", "Verdana";
}